version: 2.1
orbs:
  node: circleci/node@1.1.6
  puppeteer: threetreeslight/puppeteer@0.1.2
jobs:
  build-and-test:
    executors:
      my-executor:
      docker:
        - image: circleci/node:latest-browsers
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm run test:all
workflows:
    build-and-test:
      jobs:
        - build-and-test
